n8n-workflows/wf-1a-esg-inquiry.json
{
  "name": "WF-1A｜ESG詢價自動化",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "esg-inquiry",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wf1a-0001",
      "name": "🎯 接收ESG表單",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"success\": true, \"message\": \"表單已收到\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "wf1a-0002",
      "name": "✅ 立即回應瀏覽器",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 160]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nfunction mapBudget(budget) {\n  const map = {\n    'under10k': '1萬以下',\n    '10k-30k': '1–3萬',\n    '30k-50k': '3–5萬',\n    '50k-100k': '5–10萬',\n    'over100k': '10萬以上'\n  };\n  return map[budget] || '未提供';\n}\n\nfunction mapServiceType(type) {\n  const map = {\n    'esg-activity': 'ESG活動',\n    'gift': '永續禮品',\n    'both': '活動＋禮品',\n    'other': '其他'\n  };\n  return map[type] || 'ESG活動';\n}\n\nfunction mapSource(src) {\n  const map = {\n    'line-oa': 'LINE OA',\n    'referral': '轉介紹',\n    'social': '社群私訊',\n    'returning': '舊客回流'\n  };\n  return map[src] || '官網表單';\n}\n\nconst company = body.company || '未知企業';\nconst serviceType = mapServiceType(body.service_type);\nconst today = new Date().toISOString().split('T')[0];\nconst orderName = `${company}｜${serviceType}｜${today}`;\n\nconst notes = [\n  body.description ? `需求說明：${body.description}` : '',\n  body.event_location ? `活動地點：${body.event_location}` : '',\n  body.cooperation_type ? `合作形式：${body.cooperation_type}` : '',\n  body.esg_focus && body.esg_focus.length > 0 ? `ESG主題：${Array.isArray(body.esg_focus) ? body.esg_focus.join('、') : body.esg_focus}` : '',\n  body.esg_focus_note ? `補充方向：${body.esg_focus_note}` : '',\n  body.activity_goal ? `活動目標：${body.activity_goal}` : '',\n  body.esg_report ? `ESG報告需求：${body.esg_report}` : '',\n  body.report_usage && body.report_usage.length > 0 ? `報告用途：${Array.isArray(body.report_usage) ? body.report_usage.join('、') : body.report_usage}` : '',\n  body.source || body.form_source ? `來源管道：${body.source || body.form_source}` : ''\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    orderName,\n    orderType: serviceType,\n    headcount: body.headcount ? parseInt(body.headcount) : null,\n    budget: mapBudget(body.budget),\n    theme: body.description || '',\n    notes,\n    source: mapSource(body.form_source || body.source || ''),\n    eventDate: body.event_date || null,\n    company,\n    contactName: body.contact_name || '',\n    email: body.email || '',\n    phone: body.phone || ''\n  }\n}];"
      },
      "id": "wf1a-0003",
      "name": "🔄 整理ESG資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "database",
        "operation": "search",
        "databaseId": {
          "__rl": true,
          "value": "745a8394528f4b2bbdf7cc0af423f685",
          "mode": "id"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "客戶名稱|title",
              "condition": "contains",
              "titleValue": "={{ $json.company }}"
            }
          ]
        }
      },
      "id": "wf1a-0004",
      "name": "🔍 搜尋現有客戶",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [640, 300],
      "credentials": { "notionApi": { "name": "Notion account" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.results ? $json.results.length : ($input.all().length) }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf1a-0005",
      "name": "❓ 客戶是否存在",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "// 客戶已存在，取得第一個結果的 ID\nconst items = $input.all();\nconst clientId = items[0]?.json?.id || items[0]?.json?.results?.[0]?.id || null;\nconst data = $('🔄 整理ESG資料').item.json;\nreturn [{ json: { ...data, existingClientId: clientId } }];"
      },
      "id": "wf1a-0005b",
      "name": "📌 取現有客戶ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "745a8394528f4b2bbdf7cc0af423f685",
          "mode": "id"
        },
        "title": "={{ $('🔄 整理ESG資料').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Email", "type": "email", "emailValue": "={{ $('🔄 整理ESG資料').item.json.email }}" },
            { "key": "主要窗口", "type": "richText", "textContent": "={{ $('🔄 整理ESG資料').item.json.contactName }}" },
            { "key": "電話", "type": "phone", "phoneValue": "={{ $('🔄 整理ESG資料').item.json.phone }}" },
            { "key": "來源管道", "type": "select", "selectValue": "={{ $('🔄 整理ESG資料').item.json.source }}" },
            { "key": "合作狀態", "type": "select", "selectValue": "新名單" }
          ]
        }
      },
      "id": "wf1a-0006",
      "name": "🆕 建立新客戶",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1080, 400],
      "credentials": { "notionApi": { "name": "Notion account" } }
    },
    {
      "parameters": { "mode": "combine", "combinationMode": "mergeByPosition", "options": {} },
      "id": "wf1a-0007",
      "name": "🔗 Merge客戶資料",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "60faa6f9-9ddd-449b-9995-d2666bf7954a",
          "mode": "id"
        },
        "title": "={{ $('🔄 整理ESG資料').item.json.orderName }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "訂單類型", "type": "select", "selectValue": "={{ $('🔄 整理ESG資料').item.json.orderType }}" },
            { "key": "人數/數量", "type": "number", "numberValue": "={{ $('🔄 整理ESG資料').item.json.headcount }}" },
            { "key": "預算", "type": "select", "selectValue": "={{ $('🔄 整理ESG資料').item.json.budget }}" },
            { "key": "主題", "type": "richText", "textContent": "={{ $('🔄 整理ESG資料').item.json.theme }}" },
            { "key": "備註", "type": "richText", "textContent": "={{ $('🔄 整理ESG資料').item.json.notes }}" },
            { "key": "來源", "type": "select", "selectValue": "={{ $('🔄 整理ESG資料').item.json.source }}" },
            { "key": "負責人", "type": "richText", "textContent": "Apple" }
          ]
        }
      },
      "id": "wf1a-0008",
      "name": "📋 建立Order",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1520, 300],
      "credentials": { "notionApi": { "name": "Notion account" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('🔄 整理ESG資料').item.json.email }}",
        "subject": "【韻手作永續 Wishlite】您的 ESG 詢價需求已收到！",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family: 'Noto Sans TC', sans-serif; background: #f5f0e8; margin: 0; padding: 20px;\">\n  <div style=\"max-width: 560px; margin: 0 auto; background: #fff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n    <div style=\"background: #3d5a3e; padding: 32px 32px 24px; text-align: center;\">\n      <div style=\"font-size: 13px; color: rgba(255,255,255,0.6); letter-spacing: 2px; margin-bottom: 8px;\">WISHLITE 韻手作永續</div>\n      <div style=\"font-size: 22px; color: #fff; font-weight: 600;\">需求已收到！</div>\n    </div>\n    <div style=\"padding: 32px;\">\n      <p style=\"color: #3d5a3e; font-size: 16px; margin-bottom: 8px;\">{{ $('🔄 整理ESG資料').item.json.contactName }} 您好，</p>\n      <p style=\"color: #555; font-size: 14px; line-height: 1.8; margin-bottom: 24px;\">感謝您填寫 <strong>{{ $('🔄 整理ESG資料').item.json.company }}</strong> 的 ESG 活動需求，我們已收到您的詢價申請。</p>\n      <div style=\"background: #f5f0e8; border-radius: 8px; padding: 20px; margin-bottom: 24px;\">\n        <div style=\"font-size: 12px; color: #888; margin-bottom: 12px; letter-spacing: 1px;\">您的需求摘要</div>\n        <table style=\"width: 100%; font-size: 14px; color: #444;\">\n          <tr><td style=\"padding: 4px 0; color: #888; width: 80px;\">服務類型</td><td>{{ $('🔄 整理ESG資料').item.json.orderType }}</td></tr>\n          <tr><td style=\"padding: 4px 0; color: #888;\">參與人數</td><td>{{ $('🔄 整理ESG資料').item.json.headcount || '待確認' }} 人</td></tr>\n          <tr><td style=\"padding: 4px 0; color: #888;\">預算範圍</td><td>{{ $('🔄 整理ESG資料').item.json.budget }}</td></tr>\n        </table>\n      </div>\n      <p style=\"color: #555; font-size: 14px; line-height: 1.8; margin-bottom: 24px;\">我們的團隊會在 <strong style=\"color: #3d5a3e;\">2 個工作天內</strong> 以 Email 或電話與您聯繫，提供初步建議與適合方案。</p>\n      <div style=\"text-align: center; margin-bottom: 24px;\">\n        <a href=\"https://line.me/R/ti/p/@wishlite\" style=\"display: inline-block; background: #3d5a3e; color: #fff; padding: 12px 28px; border-radius: 8px; text-decoration: none; font-size: 14px;\">加入 LINE 即時諮詢</a>\n      </div>\n    </div>\n    <div style=\"background: #f9f6f0; padding: 20px 32px; text-align: center; border-top: 1px solid #e8dcc8;\">\n      <p style=\"font-size: 12px; color: #aaa; margin: 0;\">韻手作永續 Wishlite｜讓永續成為日常的美好行動</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "wf1a-0009",
      "name": "📧 客戶確認信",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1740, 160],
      "credentials": { "gmailOAuth2": { "name": "Gmail account" } }
    },
    {
      "parameters": {
        "sendTo": "wishlite1111@gmail.com",
        "subject": "🔔 新ESG詢價！{{ $('🔄 整理ESG資料').item.json.company }}｜{{ $('🔄 整理ESG資料').item.json.orderType }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<body style=\"font-family: sans-serif; background: #f0f0f0; padding: 20px;\">\n  <div style=\"max-width: 520px; margin: 0 auto; background: #fff; border-radius: 10px; padding: 28px; box-shadow: 0 2px 12px rgba(0,0,0,0.08);\">\n    <h2 style=\"color: #3d5a3e; margin-top: 0;\">🌱 新ESG詢價通知</h2>\n    <table style=\"width: 100%; font-size: 14px; color: #333; border-collapse: collapse;\">\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888; width: 100px;\">企業</td><td style=\"padding: 10px 0; font-weight: 600;\">{{ $('🔄 整理ESG資料').item.json.company }}</td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">聯絡人</td><td style=\"padding: 10px 0;\">{{ $('🔄 整理ESG資料').item.json.contactName }}</td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">Email</td><td style=\"padding: 10px 0;\"><a href=\"mailto:{{ $('🔄 整理ESG資料').item.json.email }}\">{{ $('🔄 整理ESG資料').item.json.email }}</a></td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">電話</td><td style=\"padding: 10px 0;\">{{ $('🔄 整理ESG資料').item.json.phone }}</td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">服務類型</td><td style=\"padding: 10px 0;\">{{ $('🔄 整理ESG資料').item.json.orderType }}</td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">人數</td><td style=\"padding: 10px 0;\">{{ $('🔄 整理ESG資料').item.json.headcount || '未填' }} 人</td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">預算</td><td style=\"padding: 10px 0;\">{{ $('🔄 整理ESG資料').item.json.budget }}</td></tr>\n      <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">來源</td><td style=\"padding: 10px 0;\">{{ $('🔄 整理ESG資料').item.json.source }}</td></tr>\n      <tr><td style=\"padding: 10px 0; color: #888; vertical-align: top;\">備註</td><td style=\"padding: 10px 0; white-space: pre-line;\">{{ $('🔄 整理ESG資料').item.json.notes }}</td></tr>\n    </table>\n    <div style=\"margin-top: 20px; text-align: center;\">\n      <a href=\"https://www.notion.so/60faa6f99ddd449b9995d2666bf7954a\" style=\"display: inline-block; background: #3d5a3e; color: #fff; padding: 10px 24px; border-radius: 8px; text-decoration: none; font-size: 13px;\">前往 Notion 查看訂單</a>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "wf1a-0010",
      "name": "🔔 通知Apple",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1740, 300],
      "credentials": { "gmailOAuth2": { "name": "Gmail account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.LINE_CHANNEL_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $env.LINE_OWNER_USER_ID }}"
            },
            {
              "name": "messages",
              "value": "=[{\"type\":\"text\",\"text\":\"🌱 新ESG詢價！\\n企業：{{ $('🔄 整理ESG資料').item.json.company }}\\n類型：{{ $('🔄 整理ESG資料').item.json.orderType }}\\n人數：{{ $('🔄 整理ESG資料').item.json.headcount || '未填' }}人\\n預算：{{ $('🔄 整理ESG資料').item.json.budget }}\\n來源：{{ $('🔄 整理ESG資料').item.json.source }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "wf1a-0011",
      "name": "📱 LINE推播",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"你是韻手作永續的業務助理 Apple。請根據以下詢價資訊，用繁體中文寫一段初步回覆草稿（200字內），語氣親切專業，強調永續與手作體驗的價值。\\n\\n企業：{{ $('🔄 整理ESG資料').item.json.company }}\\n服務類型：{{ $('🔄 整理ESG資料').item.json.orderType }}\\n人數：{{ $('🔄 整理ESG資料').item.json.headcount || '未填' }}人\\n預算：{{ $('🔄 整理ESG資料').item.json.budget }}\\n需求說明：{{ $('🔄 整理ESG資料').item.json.theme }}\\n\\n請直接輸出草稿內容，不要加標題。\"\n  }]\n}",
        "options": {}
      },
      "id": "wf1a-0012",
      "name": "🤖 AI草稿產生",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst aiText = aiResponse?.content?.[0]?.text || '（AI草稿產生失敗）';\nconst orderId = $('📋 建立Order').item.json.id;\nreturn [{ json: { aiText, orderId } }];"
      },
      "id": "wf1a-0013a",
      "name": "🔧 取得AI文字",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.orderId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "AI生成提案", "type": "richText", "textContent": "={{ $json.aiText }}" }
          ]
        }
      },
      "id": "wf1a-0013",
      "name": "💾 更新AI提案",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2400, 300],
      "credentials": { "notionApi": { "name": "Notion account" } }
    },
    {
      "parameters": {
        "jsCode": "// Phase 4 Impact Engine 預留接口\n// 未來在此處加入碳足跡計算邏輯\n// 輸入: headcount, orderType, materials\nreturn $input.all();"
      },
      "id": "wf1a-0014",
      "name": "🌍 [Phase4] 碳足跡預留",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 300]
    }
  ],
  "connections": {
    "🎯 接收ESG表單": {
      "main": [[
        { "node": "✅ 立即回應瀏覽器", "type": "main", "index": 0 },
        { "node": "🔄 整理ESG資料", "type": "main", "index": 0 }
      ]]
    },
    "🔄 整理ESG資料": {
      "main": [[{ "node": "🔍 搜尋現有客戶", "type": "main", "index": 0 }]]
    },
    "🔍 搜尋現有客戶": {
      "main": [[{ "node": "❓ 客戶是否存在", "type": "main", "index": 0 }]]
    },
    "❓ 客戶是否存在": {
      "main": [
        [{ "node": "📌 取現有客戶ID", "type": "main", "index": 0 }],
        [{ "node": "🆕 建立新客戶", "type": "main", "index": 0 }]
      ]
    },
    "📌 取現有客戶ID": {
      "main": [[{ "node": "🔗 Merge客戶資料", "type": "main", "index": 0 }]]
    },
    "🆕 建立新客戶": {
      "main": [[{ "node": "🔗 Merge客戶資料", "type": "main", "index": 1 }]]
    },
    "🔗 Merge客戶資料": {
      "main": [[{ "node": "📋 建立Order", "type": "main", "index": 0 }]]
    },
    "📋 建立Order": {
      "main": [[
        { "node": "📧 客戶確認信", "type": "main", "index": 0 },
        { "node": "🔔 通知Apple", "type": "main", "index": 0 },
        { "node": "📱 LINE推播", "type": "main", "index": 0 },
        { "node": "🤖 AI草稿產生", "type": "main", "index": 0 }
      ]]
    },
    "🤖 AI草稿產生": {
      "main": [[{ "node": "🔧 取得AI文字", "type": "main", "index": 0 }]]
    },
    "🔧 取得AI文字": {
      "main": [[{ "node": "💾 更新AI提案", "type": "main", "index": 0 }]]
    },
    "💾 更新AI提案": {
      "main": [[{ "node": "🌍 [Phase4] 碳足跡預留", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Wishlite" }]
}
