n8n-workflows/wf-4-weekly-report.json
{
  "name": "WF-4｜每週詢價統計報表",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 9, "triggerAtMinute": 0 }] }
      },
      "id": "wf4-0001",
      "name": "⏰ 每週一報表觸發",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "database",
        "operation": "search",
        "databaseId": {
          "__rl": true,
          "value": "60faa6f9-9ddd-449b-9995-d2666bf7954a",
          "mode": "id"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "建立時間|created_time",
              "condition": "pastWeek"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-0002",
      "name": "📊 查詢本週訂單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [420, 300],
      "credentials": { "notionApi": { "name": "Notion account" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst orders = items.map(i => i.json);\n\n// 統計\nconst total = orders.length;\nconst esgCount = orders.filter(o => o.properties?.['訂單類型']?.select?.name === 'ESG活動').length;\nconst giftCount = orders.filter(o => o.properties?.['訂單類型']?.select?.name === '永續禮品').length;\nconst bothCount = orders.filter(o => o.properties?.['訂單類型']?.select?.name === '活動＋禮品').length;\n\n// 來源統計\nconst sources = {};\norders.forEach(o => {\n  const src = o.properties?.['來源']?.select?.name || '其他';\n  sources[src] = (sources[src] || 0) + 1;\n});\n\n// 預算統計\nconst budgets = {};\norders.forEach(o => {\n  const bud = o.properties?.['預算']?.select?.name || '未提供';\n  budgets[bud] = (budgets[bud] || 0) + 1;\n});\n\n// 有AI草稿的\nconst aiCount = orders.filter(o => {\n  const ai = o.properties?.['AI生成提案']?.rich_text;\n  return ai && ai.length > 0 && ai[0]?.plain_text?.length > 0;\n}).length;\n\n// 訂單列表\nconst orderList = orders.map(o => {\n  const name = o.properties?.['訂單名稱']?.title?.[0]?.plain_text || '未知';\n  const type = o.properties?.['訂單類型']?.select?.name || '未知';\n  const budget = o.properties?.['預算']?.select?.name || '未提供';\n  return `• ${name}（${type} / ${budget}）`;\n}).join('\\n');\n\nconst sourceSummary = Object.entries(sources).map(([k,v]) => `${k}: ${v}筆`).join('、');\nconst budgetSummary = Object.entries(budgets).map(([k,v]) => `${k}: ${v}筆`).join('、');\n\nreturn [{\n  json: {\n    total,\n    esgCount,\n    giftCount,\n    bothCount,\n    aiCount,\n    sourceSummary,\n    budgetSummary,\n    orderList: orderList || '本週無新詢價'\n  }\n}];"
      },
      "id": "wf4-0003",
      "name": "🔢 統計整理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "sendTo": "wishlite1111@gmail.com",
        "subject": "📊 Wishlite 本週詢價週報（{{ $now.format('yyyy-MM-dd') }}）",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<body style=\"font-family: sans-serif; background: #f5f0e8; padding: 20px;\">\n  <div style=\"max-width: 560px; margin: 0 auto; background: #fff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n    <div style=\"background: #3d5a3e; padding: 28px 32px; text-align: center;\">\n      <div style=\"font-size: 13px; color: rgba(255,255,255,0.6); letter-spacing: 2px; margin-bottom: 6px;\">WISHLITE 週報</div>\n      <div style=\"font-size: 20px; color: #fff; font-weight: 600;\">本週詢價統計</div>\n    </div>\n    <div style=\"padding: 28px 32px;\">\n      <div style=\"display: flex; gap: 12px; margin-bottom: 24px;\">\n        <div style=\"flex: 1; background: #f5f0e8; border-radius: 8px; padding: 16px; text-align: center;\">\n          <div style=\"font-size: 28px; font-weight: 700; color: #3d5a3e;\">{{ $json.total }}</div>\n          <div style=\"font-size: 12px; color: #888; margin-top: 4px;\">本週總詢價</div>\n        </div>\n        <div style=\"flex: 1; background: #f5f0e8; border-radius: 8px; padding: 16px; text-align: center;\">\n          <div style=\"font-size: 28px; font-weight: 700; color: #5a8a5e;\">{{ $json.esgCount }}</div>\n          <div style=\"font-size: 12px; color: #888; margin-top: 4px;\">ESG活動</div>\n        </div>\n        <div style=\"flex: 1; background: #f5f0e8; border-radius: 8px; padding: 16px; text-align: center;\">\n          <div style=\"font-size: 28px; font-weight: 700; color: #7a9e7e;\">{{ $json.giftCount }}</div>\n          <div style=\"font-size: 12px; color: #888; margin-top: 4px;\">永續禮品</div>\n        </div>\n      </div>\n      <table style=\"width: 100%; font-size: 14px; color: #444; border-collapse: collapse; margin-bottom: 20px;\">\n        <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888; width: 100px;\">來源分佈</td><td style=\"padding: 10px 0;\">{{ $json.sourceSummary }}</td></tr>\n        <tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 10px 0; color: #888;\">預算分佈</td><td style=\"padding: 10px 0;\">{{ $json.budgetSummary }}</td></tr>\n        <tr><td style=\"padding: 10px 0; color: #888;\">AI草稿</td><td style=\"padding: 10px 0;\">{{ $json.aiCount }} / {{ $json.total }} 筆已產生</td></tr>\n      </table>\n      <div style=\"background: #f9f6f0; border-radius: 8px; padding: 16px; margin-bottom: 20px;\">\n        <div style=\"font-size: 12px; color: #888; margin-bottom: 10px; letter-spacing: 1px;\">本週訂單列表</div>\n        <div style=\"font-size: 13px; color: #444; line-height: 1.8; white-space: pre-line;\">{{ $json.orderList }}</div>\n      </div>\n      <div style=\"text-align: center;\">\n        <a href=\"https://www.notion.so/60faa6f99ddd449b9995d2666bf7954a\" style=\"display: inline-block; background: #3d5a3e; color: #fff; padding: 10px 24px; border-radius: 8px; text-decoration: none; font-size: 13px;\">前往 Notion 查看所有訂單</a>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "wf4-0004",
      "name": "📧 寄送週報給Apple",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [860, 300],
      "credentials": { "gmailOAuth2": { "name": "Gmail account" } }
    }
  ],
  "connections": {
    "⏰ 每週一報表觸發": {
      "main": [[{ "node": "📊 查詢本週訂單", "type": "main", "index": 0 }]]
    },
    "📊 查詢本週訂單": {
      "main": [[{ "node": "🔢 統計整理", "type": "main", "index": 0 }]]
    },
    "🔢 統計整理": {
      "main": [[{ "node": "📧 寄送週報給Apple", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Wishlite" }]
}
